<div id='cpa-edit'>
  <div class="cpa-wrapper">
    <header class="cpa-header">
      <h1><%= t('views.edit.title', name: @banner.name) %></h1>
    </header>
    <% if @banner.image.attached? && @banner.image.content_type.in?(%w[image/svg+xml image/png]) %>
      <div class="cpa-banner"><%= image_tag main_app.url_for(@banner.image) %></div>
    <% end %>

    <%= render 'form', url: cross_promotion_app.banners_update_path, action: 'edit' %>

  </div>
</div>
