<div class='cpa-new'>
  <div class="cpa-wrapper">
    <header class="cpa-header">
      <h1><%= t('views.new.title') %></h1>
    </header>

    <%= render 'form', url: cross_promotion_app.banners_create_path, action: 'new' %>
  </div>
</div>